@import url('https://fonts.googleapis.com/css?family=Audiowide|Comfortaa|Lobster|Poiret+One|Vibur');
header{
	text-align: center;
}
header h5{
	display: inline;
	margin: 10px;
}
header button{
	margin-top: 5px;
	margin-bottom: 5px;
}
header h1{
	font-family: 'Audiowide', cursive;
	color:white; text-shadow: black 0.1em 0.1em 0.2em
	
}
header img{
	max-width: 500px;
}
#phrase{
	margin-bottom: 50px;
	font-style: italic;
}
header p{
	display: inline;
	margin: 5px;
}
body{
	background-color:#fcfcfc;
	color:white;
}
#pic1{
	text-align: center;
	border-radius: 25px;
    border: 2px solid grey;
    padding: 20px; 
    width: 310px;
    height: 240px;
	margin-left: 40px;
}
#piccap1{
	text-align: center;
	border-style: solid;
	border-color: #EDEDED;
	margin-right: 399px;
	margin-left:51px;
	width: 290px;
}
footer{
	text-align: center;
	margin-top: 10px;
	font-size: 10;
}
p{
	text-align: center;
}
#menu{
	border-style:solid;
	border-color:#333333;
	border-size:5px;
	margin-left: 60px;
	margin-right: 60px;
	background-color: 91AEE3;
	background-image: url("blue.jpg");
}
#menub{

}
.container{
	border-style: solid;
	border-color: #333333;
	border-size: 20px;
	margin-top: 10px;
	background-color:EDEDED;
	color:#242424;
}
.container h2{
	text-align:center;
	margin-top: 50px;
}
.container h4{
	text-align:center;
}